{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/files/css/filemanager.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/files/css/icons.css') }}" rel="stylesheet">
{% endblock %}    

{% block javascripts %}
    {{ parent() }}
<script data-main="/bundles/files/main.default.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
<script src="{{ asset('bundles/files/js/file.js') }}"></script>
{% endblock %}    

{% block breadcrumb %} <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Home{% endtrans %}</a></li> 
    <li class="active">File Manager</li> {% endblock %}

{% block sonata_admin_content %}
    <div id="elfinder"></div>
{% endblock %}
